/* フォント：游ゴシック（メイン）　
　　　　　TBカリグラゴシック Std（大見出し）　
　　　　　TA-ことだまR（7つのお約束　見出し）
色：薄ピンク（メインカラー） #eab1b1
　　 薄茶色（サブカラー）　# ecceb2
　　 濃ピンク（アクセントカラー） #F05694　  */

.sa {
  opacity: 0;
  transition: all 1.2s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.sa-lr {
  transform: translate(-100px, 0);
}

.sa-ll {
  transform: translate(100px, 0);
}

.sa-ld {
  transform: translate(0, -100px);
}

.sa-lu {
  transform: translate(0, -100px);
}
 /* ====================================================================

      header

=================================================================== */
.header-inner{
  margin:0 7.1%;
}

.catchcopy{
  margin:1% 0;
}

.header-content{/*1172*/
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 1.9%;
}

.header-left{/*210*/
  /* width: 17.9%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-left>img{
  width:40.9%;
}

.header-left>h1{
  width: 50%;
  margin-left:18px;
}

.header-left>h1>img{
  width: 100%;
}

.header-right{/*522*/
  /* width: 44.5%; */
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.header-right-icons{/*196*/
  /* width: 37.5%; */
}

.header-right-icons>a{
  display: inline-block;
  width: 40%;
  margin-right: 2%;
}

.header-right-icons>a>img{
  width: 100%;
}

.call{
  /* padding-left: 9%; */
}

.call a{
  text-align: left;
  display: inline-block;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #f05694;
}

.call a img{
  padding-right: 5px;
  vertical-align: middle;
}

.call p:first-of-type{
  text-align: center;
  font-size:0.93rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  color: #000000;
}

.call p:not(:first-of-type){
  text-align: left;
  font-size:0.75rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  color: #000000;
}

.header-inner nav:nth-of-type(2) ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-inner nav ul li{
  margin: 0 auto;
  width:100%;
  padding: 7.5px 0;
  border-left: 1px solid #a7a7a7;
}

.header-inner nav ul li:last-of-type{
  border-right: 1px solid #a7a7a7;
}

.header-inner nav ul li a{
  width: 100%;
  padding: 7.5px 0;
}

@media(max-width: 640px) {
  .header-inner{
    margin:3% 7.1% 0;
  }

  .catchcopy{
    font-size: 0.93rem;
    margin:2% 0;
  }

  .header-content{/*1172*/
    margin-bottom: 1.9%;
  }

  .header-left>img{
    width:20%;
  }

  .header-left>h1{
    width: 30%;
    margin-left:10px;
  }

  .sp-header{
   display: inline-block;
   color: #F05694!important;
   font-size: 25px;
  }

  .sp-header i{
    width: 100%;
  }

}


@media(max-width: 640px) {
.menu-icon{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    height: auto;
    text-align:center;
    background-color: #eab1b1;
    color: #ffffff;
  }

  .close{
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    top: 10px;
    right:20px;
  }

  .icon-list{
    margin: 25px 0;
  }

  .icon-list a{
    color: #ffffff;
    font-size: 15px;
    padding: 10px 100px;
  }

  .icon-list a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
  }
}

/* ====================================================================

     contact

=================================================================== */
.contact,.contact2{
  background-image: url('../img/contact-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

 .google-map{/*422*/
  width: 30.8%;
  margin-left: 9.8%;
  margin-top: 5.85%;
  margin-bottom: 5.27%;
}

.google-map>a{
  width: 100%;
}

.google-map>a>img{
  width: 100%;
}

.detail{/*580*/
  width:42.4%;
  margin-right: 10.2%;
  margin-top: 5.8%;
  margin-bottom: 5.27%;
}

.detail h2{
  font-family: "TBカリグラゴシック Std";
  font-weight: bold;
  font-size: 1.875rem;
  /* line-height: 2; */
  letter-spacing: 0.06em;
  color: #000000;
}

.detail>a:first-of-type{
  display: inline-block;
  font-size: 2.5rem;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #f05694;
}

.detail>a:first-of-type>img{
  /* width: 7.9%; */
  margin-right: 5px;
  vertical-align: middle;
}

.detail p:first-of-type{
  font-size:0.93rem;
  letter-spacing: 0.06em;
  color: #000000;
}

.detail p:nth-of-type(2){
  font-size:0.93rem;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #000000;
}

.detail p:last-of-type{
  font-size:0.93rem;
  color: #000000;
}

.detail table{
 width:100%;
 text-align: center;
 margin: 3.5% 0 7%;
}

.detail table thead{
  background-color: #ecceb2;
}

.detail table, .detail td, .detail th{
  border: 2px solid #f05694;
  /* color: #f05694; */
}

.detail table thead tr th:first-of-type{
  font-size:0.93rem;
  line-height: 2.66;
  font-weight: bold;
  color: #f05694;
}

.detail table thead tr th:not(:first-of-type){
  font-size:1.25rem;
  line-height: 2;
  font-weight: bold;
  color: #f05694;
}

.detail table tbody tr td:first-of-type{
  font-size:0.93rem;
  line-height: 2.66;
  color: #000000;
}

.detail table tbody tr td:not(:first-of-type){
  font-size:1.56rem;
  line-height: 1.6;
  font-weight: bold;
  color: #f05694;
}

.to-access{
  width: 37.2%;
  display: inline-block;
}

.to-access img{
  width:100%;
}

@media(max-width: 640px) {
  .contact,.contact2{
  display:block;
 }

 .google-map{
   width: 65%;
   padding:5.85% 0 5.27%;
   margin: 0 auto;
 }

 .detail{
   width: 80%;
   padding: 5.8% 0 5.27%;
   margin: 0 auto;
 }

}

/* ====================================================================

     contact2

=================================================================== */
.contact2{
  background-image: url('../img/contact2-back.jpg')!important;
}

.back-to-top{
  position: fixed;
  bottom: 1%;
  right: 4%;
  display: inline-block;
  font-size: 30px;
  color:#F05694;
}

.back-to-top i{
  width: 100%;
}

/* ====================================================================

     footer

=================================================================== */
footer{
  background-color: #ecceb2;
}

footer>nav>ul{
  width:90%;
  margin: 0 auto;
  padding: 6.8% 0 1.1% ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer>nav>ul>li{
  margin-bottom: 3%;
}

footer>nav>ul>li>a{
  font-size:1.06rem;
  color: #ffffff;;
  letter-spacing: 0.06em;
}

.sns{
  padding: 0 7.4% 1.6% 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sns>a{
  width: 5%;
}

.sns>a:last-of-type{
  width: 3.7%;
}

.sns>a:not(:last-of-type){
  padding-right: 1.5%;
}

.sns>a>img{
  width: 100%;
  color: #ffffff;
}

footer>p{
  padding-bottom: 1.5%;
  text-align:center;
  font-size:0.75rem;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media(max-width: 640px) {

  footer>nav>ul{
    padding: 5%;
  }

  footer>nav>ul>li>a{
    font-size:1rem;
  }

  .sns{
    padding: 0 3% 3% 3%;
  }

  .sns>a{
    width: 10%;
  }

  .sns>a:last-of-type{
    width: 8%;
  }

  .sns>a:not(:last-of-type){
    padding-right: 3%;
  }

  .sns>a>img{
    width: 100%;
  }

  footer>p{
    padding-bottom: 1.5%;
    text-align:center;
    font-size:0.75rem;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}

/* ====================================================================

     sitemap

=================================================================== */
.sitemap{
  background-color: #eab1b1;
}

.sitemap>nav>ul{
  width:90%;
  margin: 0 auto;
  padding: 6.8% 0 1.1% ;
}

.sitemap>nav>ul>li{
  margin-bottom: 3%;
}

.sitemap>nav>ul>li>a{
  font-size:1.06rem;
  color: #ffffff;;
  letter-spacing: 0.06em;
}









/* ====================================================================

     toppage
     main_visual

=================================================================== */
.main-visual{
  position: relative;
}

.main-visual>img{
  width:100%;
}

.main-catchcopy{
  width: 65.5%;
  position: absolute;
  right: 2.5%;
  bottom: 12%;
}

.main-catchcopy img{
  width: 100%;
}

/* ====================================================================

     icons

=================================================================== */
.icons{
  background-image:url('../img/icon-back.jpg');
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon{/*455*/
  width: 33%;
  text-align: center;
}

.icon:first-of-type{
  border-right: 2px solid #ffffff;
}

.icon:last-of-type{
  border-left: 2px solid #ffffff;
}

.icon-inner{/*242*/
  width: 53.1%;
  margin: 17.5% auto 16.2%;
}

.icon-inner>img{/*121*/
  width:58.6%;
}

.icon-inner p{
  font-size:1.25rem;
  line-height: 2.2;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.icon-inner h2{
  font-size:1.56rem;
  /* line-height: 3; */
  font-weight:bold;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.icon-inner a{
  margin-top: 5%;
  display: inline-block;
  width: 100%;
}

.icon-inner a img{
  width: 100%;
}

@media(max-width: 640px) {
  .icons{
    display: block;
  }

  .icon{
    width: 100%;
    text-align: center;
  }

  .icon:first-of-type{
    border-bottom: 2px solid #ffffff;
  }

  .icon:last-of-type{
    border-top: 2px solid #ffffff;
  }

  .icon-inner{/*242*/
    width: 53.1%;
    padding: 17.5% 0 16.2%;
    margin:0 auto;
  }

  .icon-inner>img{/*121*/
    width:65%;
  }

  .icon-inner p{
    font-size:1.5rem;
  }

  .icon-inner h2{
    font-size:1.75rem;
  }

  .icon-inner a{
    margin-top: 8%;
  }
}

/* ====================================================================

     reasons

=================================================================== */
.reasons{/*1166*/
  width: 85.3%;
  margin: 0 auto;
  text-align: center;
}

.reasons-ttl{
  margin-top: 5.14%;
}

.reasons-ttl img{
  width: 20%;
  margin-bottom:1%;
}

.reasons-ttl h2{
  font-family: "TBカリグラゴシック Std";
  font-size:2.81rem;
  color: #000000;
  letter-spacing: 0.06em;
  font-weight: 900;
  margin-bottom: 6.3%;
}

.cost-performance h3,.latest-machine h3{
  font-family: "TBカリグラゴシック Std";
  text-align: left;
  font-size:2.18rem;
  color: #000000;
  letter-spacing: 0.06em;
  font-weight: 600;
}

.cost-performance h3 span,.latest-machine h3 span{
  color: #f05694;
}

.each-reason{/*735*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.each-reason p {
  width: 63%;
  font-size:1.12rem;
  line-height: 2;
  font-weight:500;
  letter-spacing: 0.06em;
  color: #000000;
border: 1px solid #F05694;
padding: 33px;
position: relative;
}

.each-reason p span{
  font-size:1.43rem;
  line-height: 1.56;
  font-weight:500;
  letter-spacing: 0.06em;
  color: #ff0000;
}

.each-reason p::before {
background-color: #ffffff;
font-size:1.68rem;
line-height: 1.77;
font-weight:400;
letter-spacing: 0.06em;
color: #F05694;
font-weight: bold;
left: 40%;
padding: 3px 10px;
position: absolute;
top: -28px;
}

.cost-performance .each-reason:first-of-type p::before,
.cost-performance .each-reason:nth-of-type(2) p::before{
  content: "安さの秘訣";
}

.cost-performance .each-reason:nth-of-type(3) p::before{
  content: "無駄な経費をカット" ;
  left: 33%;
}

.latest-machine .each-reason:first-of-type p::before,
.latest-machine .each-reason:last-of-type p::before{
  content: "クオリティーの高い光脱毛";
  left: 25%;
}

.each-reason img{/*400*/
width: 34.3%;
}

.cost-performance table{
  margin: 2.74% 0 9.09%;
  width: 100%;
  border: 2px solid #a7a7a7;
}

.cost-performance table tbody tr:first-of-type{
  background-color:#eab1b1;
  color: #ffffff;
}

.cost-performance table tbody tr:not(:first-of-type){
  background-color:#fef6ee;
}

.cost-performance table thead tr th,.cost-performance table tbody tr td{
  border: 2px solid #a7a7a7;
}

.cost-performance table thead tr th{
  font-size:1.25rem;
  line-height: 3;
  font-weight:500;
  color: #000000;
}

.cost-performance table thead tr th:nth-of-type(3){
  font-size:0.93rem;
  line-height: 4;
}

.cost-performance table tbody tr:first-of-type td:first-of-type,
.cost-performance table tbody tr:nth-of-type(2) td:first-of-type,
.cost-performance table tbody tr:nth-of-type(3) td:first-of-type,
.cost-performance table tbody tr:nth-of-type(4) td:first-of-type,
.cost-performance table tbody tr:nth-of-type(5) td:first-of-type{
  width: 16.2%;
  font-size:1.875rem;
  line-height: 3;
  font-weight:500;
  color: #000000;
}

.cost-performance table tbody tr:first-of-type td:first-of-type{
  color:#f05694;
}

.cost-performance table tbody tr:first-of-type td:nth-of-type(2){
  font-size:1.875rem;
  /* line-height: 0.8; */
  font-weight:500;
  vertical-align: bottom;
}

.cost-performance table tbody tr:first-of-type td:nth-of-type(2) small{
  font-size:1.25rem;
  /* line-height: 1.2; */
  font-weight:500;
}

.cost-performance table tbody tr:first-of-type td:nth-of-type(3){
  font-size:1.875rem;
  /* line-height: 1.6; */
  font-weight:500;
  letter-spacing: 0.06em;
}

.cost-performance table tbody tr:first-of-type td:nth-of-type(4){
  font-size:1.56rem;
  /* line-height: 1.92; */
  font-weight:500;
  letter-spacing: 0.06em;
}

.cost-performance table tbody tr:first-of-type td:nth-of-type(5){
  font-size:1.375rem;
  /* line-height: 1.3; */
  font-weight:500;
  letter-spacing: 0.06em;
}

.cost-performance table tbody tr:nth-of-type(2) td:nth-of-type(2),
.cost-performance table tbody tr:nth-of-type(3) td:nth-of-type(2),
.cost-performance table tbody tr:nth-of-type(4) td:nth-of-type(2),
.cost-performance table tbody tr:nth-of-type(5) td:nth-of-type(2),
.cost-performance table tbody tr:nth-of-type(2) td:nth-of-type(3),
.cost-performance table tbody tr:nth-of-type(3) td:nth-of-type(3),
.cost-performance table tbody tr:nth-of-type(4) td:nth-of-type(3),
.cost-performance table tbody tr:nth-of-type(5) td:nth-of-type(3),
.cost-performance table tbody tr:nth-of-type(2) td:nth-of-type(4),
.cost-performance table tbody tr:nth-of-type(3) td:nth-of-type(4),
.cost-performance table tbody tr:nth-of-type(4) td:nth-of-type(4),
.cost-performance table tbody tr:nth-of-type(5) td:nth-of-type(4){
  font-size:1.56rem;
  /* line-height: 1.92; */
  font-weight:500;
  letter-spacing: 0.06em;
}

.cost-performance table tbody tr:nth-of-type(2) td:nth-of-type(5),
.cost-performance table tbody tr:nth-of-type(3) td:nth-of-type(5),
.cost-performance table tbody tr:nth-of-type(4) td:nth-of-type(5),
.cost-performance table tbody tr:nth-of-type(5) td:nth-of-type(5){
  font-size:1.25rem;
  /* line-height: 2.4; */
  font-weight:500;
  letter-spacing: 0.06em;
}

table.machine-comparison{
  width: 100%;
  margin: 2.74% 0 9%;
}

table.machine-comparison,
table.machine-comparison thead tr th,
table.machine-comparison tbody tr td{
  border: 2px solid #a7a7a7;
}

table.machine-comparison span{
  font-size:2.15rem;
  font-weight:500;
  color: #000000;
}

table.machine-comparison thead tr th{
  font-size:1.43rem;
  line-height: 3;
  font-weight:500;
  color: #000000;
}

table.machine-comparison thead tr th:last-of-type{
  color: #ffffff;
}

table.machine-comparison tbody tr:first-of-type td:first-of-type,
table.machine-comparison tbody tr:nth-of-type(2) td:first-of-type,
table.machine-comparison tbody tr:nth-of-type(3) td:first-of-type,
table.machine-comparison tbody tr:nth-of-type(4) td:first-of-type{
  width: 14%;
  font-size:1.56rem;
  line-height: 4.8;
  font-weight:500;
  color: #000000;
}

table.machine-comparison tbody tr:first-of-type td:nth-of-type(2),
table.machine-comparison tbody tr:nth-of-type(2) td:nth-of-type(2),
table.machine-comparison tbody tr:nth-of-type(3) td:nth-of-type(2),
table.machine-comparison tbody tr:nth-of-type(4) td:nth-of-type(2),
table.machine-comparison tbody tr:first-of-type td:nth-of-type(3),
table.machine-comparison tbody tr:nth-of-type(2) td:nth-of-type(3),
table.machine-comparison tbody tr:nth-of-type(3) td:nth-of-type(3),
table.machine-comparison tbody tr:nth-of-type(4) td:nth-of-type(3),
table.machine-comparison tbody tr:first-of-type td:nth-of-type(4),
table.machine-comparison tbody tr:nth-of-type(2) td:nth-of-type(4),
table.machine-comparison tbody tr:nth-of-type(3) td:nth-of-type(4),
table.machine-comparison tbody tr:nth-of-type(4) td:nth-of-type(4){
  font-size:1.25rem;
  /* line-height: 2.7; */
  font-weight:500;
  color: #000000;
}

table.machine-comparison tbody tr:first-of-type td:nth-of-type(2),
table.machine-comparison tbody tr:nth-of-type(2) td:nth-of-type(2),
table.machine-comparison tbody tr:nth-of-type(3) td:nth-of-type(2),
table.machine-comparison tbody tr:nth-of-type(4) td:nth-of-type(2),
table.machine-comparison tbody tr:first-of-type td:nth-of-type(3),
table.machine-comparison tbody tr:nth-of-type(2) td:nth-of-type(3),
table.machine-comparison tbody tr:nth-of-type(3) td:nth-of-type(3),
table.machine-comparison tbody tr:nth-of-type(4) td:nth-of-type(3){
  background-color: #fef6ee;
}

table.machine-comparison thead tr th:last-of-type,
table.machine-comparison tbody tr:first-of-type td:nth-of-type(4),
table.machine-comparison tbody tr:nth-of-type(2) td:nth-of-type(4),
table.machine-comparison tbody tr:nth-of-type(3) td:nth-of-type(4),
table.machine-comparison tbody tr:nth-of-type(4) td:nth-of-type(4){
  color: #ffffff;
  background-color: #eab1b1;
}

@media(max-width: 1024px) {
  .cost-performance .each-reason:first-of-type p::before,
  .cost-performance .each-reason:nth-of-type(2) p::before{
    left: 35%;
  }

  .cost-performance .each-reason:nth-of-type(3) p::before{
    left: 23%;
  }

  .latest-machine .each-reason:first-of-type p::before,
  .latest-machine .each-reason:last-of-type p::before{
    left: 17%;
  }
}

@media(max-width: 768px) {
  .cost-performance .each-reason:first-of-type p::before,
  .cost-performance .each-reason:nth-of-type(2) p::before{
    left: 30%;
  }

  .cost-performance .each-reason:nth-of-type(3) p::before{
    left: 20%;
  }

  .latest-machine .each-reason:first-of-type p::before,
  .latest-machine .each-reason:last-of-type p::before{
    left: 12%;
  }
}

@media(max-width: 414px) {
  .cost-performance .each-reason:first-of-type p::before,
  .cost-performance .each-reason:nth-of-type(2) p::before{
    left: 28%;
  }
}

@media(max-width: 436px) {
  .latest-machine .each-reason:first-of-type p,
  .latest-machine .each-reason:last-of-type p{
    padding-top:70px ;
  }
}

@media(max-width: 1250px) {
  .each-reason{
    margin: 6% 0;
  }
}

@media(max-width: 640px) {
  .reasons{
    text-align: center;
  }

  .reasons-ttl img{
    width: 50%;
    margin-bottom:3%;
  }

  .reasons-ttl h2{
    font-size:2rem;
    padding-bottom: 5%;
  }

  .cost-performance h3,.latest-machine h3{
    text-align: center;
    font-size:1.8rem;
    padding-bottom: 4%;
  }

  .each-reason{
    display: block;
    text-align: center;
  }

  .each-reason p {
    width: 98%;
    margin: 0 auto;
    font-size:1.12rem;
    line-height: 2;
    padding: 23px;
  }

  .each-reason p span{
    font-size:1.6rem;
  }

  .each-reason p::before {
  font-size:1.8rem;
  font-weight: bold;
  left: 28%;
  }

  .cost-performance .each-reason:nth-of-type(3) p::before{
    left: 12%;
  }

  .latest-machine .each-reason:first-of-type p::before,
  .latest-machine .each-reason:last-of-type p::before{
    left: 7%;
  }

  .each-reason img{
    width: 70%;
    padding-bottom: 10%;
  }

  .each-reason:nth-of-type(3) img{
    padding-top: 8%;
  }

  .cost-performance table{
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin: 5% 0 15%;
  }

  table.machine-comparison{
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin: 5% 0 9%;
  }

}

/* ====================================================================

     voice

=================================================================== */
.voice{
 text-align: center;
}

.voice img{
 width: 10.2%;
}

.voice h2{
  margin-bottom: 2.3%;
  font-size:2.81rem;
  color: #000000;
}

.voices{/*1080*/
  padding-bottom: 5%;
  width: 79%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.voices>a{
  margin: 0 auto;
  display: inline-block;
  width: 30%;
}

.voices>a>img{
  width: 100%;
}

.each-voice{/*525*/
  padding-bottom: 2%;
  margin-bottom: 2.7%;
  width: 48.6%;
  background-color: #eab1b1;
  border-radius: 30px;
}

.each-voice>p{
  font-size:1.06rem;
  letter-spacing: 0.06em;
  color: #000000;
  padding: 5.3% 0 4%;
}

.each-voice>p span{
  font-size:1.06rem;
  letter-spacing: 0.06em;
  color: #ff0000;
}

.voice-content{/*492*/
  width: 93.7%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 15px;
  /* min-height: 170px; */
  text-align: left;
  position: relative;
}

.voice-content>p:first-of-type{
  padding:5.3% 0 0 4.1%;
  font-size:0.93rem;
  line-height: 1.466;
  letter-spacing: 0.06em;
  color: #000000;
}

.voice-content a{
  position: absolute;
  bottom: 4%;
  left: 3%;
  /* padding:0 0 20px 20px; */
}

.voice-content a img{
  width: 22px;
}

.voice-content a p{
  margin-left: 5px;
  display: inline-block;
  font-size:0.93rem;
  letter-spacing: 0.06em;
  color: #000000;
}

@media(max-width: 768px){

  .voice img{
   width: 18%;
  }

  .voice h2{
    font-size:2rem;
  }

  .voices{
    display: block;
  }

  .each-voice{
    width: 100%;
  }

  .voices>a{
    width: 50%;
  }

}

/* ====================================================================

     promise

=================================================================== */
.declaration, .promise{
  background-image: url('../img/promise-back.jpg');
  background-repeat: repeat;
  background-size: cover;
}

.declaration{
 text-align: center;
}

.declaration p:first-of-type{
  padding:7% 0 2%;
  font-family:　"TA-ことだまR";
  font-size:2.18rem;
  line-height: 1.43;
  font-weight:500;
  color: #3d3d3d;
  letter-spacing: 0.06em;
}

.declaration p:last-of-type{
  padding-bottom: 3.5%;
  font-size:1.25rem;
  line-height: 2;
  font-weight:500;
  color: #000000;
  letter-spacing: 0.06em;
}

.promise{
  padding-bottom: 4%;
}

.promise-inner{
  width: 85.3%;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 5%;
}

.promise-inner>img{
  width: 24%;
  margin: 4% 0 4%;
}

.seven-promises{
  width: 92.6%;/*1080*/
  margin: 0 auto;
  border: 2px solid #F05694;
  border-radius: 40px;
  padding: 4.6% 6.48% 3.7% 7.96%;
  position: relative;
}

.seven-promises::before {
font-family:"TA-ことだまR";
content: "7つのお約束";
background-color: #ffffff;
font-size:2.5rem;
font-weight:500;
letter-spacing: 0.06em;
color: #F05694;
/* font-weight: bold; */
left: 38%;
padding: 3px 10px;
position: absolute;
top: -28px;
}

.each-promise{
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5%;
}

.each-promise>img{
 width: 7.5%;
 margin-right: 4%;
}

.each-promise-inner h3{
  font-size:1.875rem;
  line-height: 2.3;
  font-weight:500;
  color: #F05694;
  letter-spacing: 0.06em;
}

.each-promise-inner p{
  font-size:1.06rem;
  line-height: 1.4;
  font-weight:500;
  color: #000000;
}

.seven-promises>a{
  display:inline-block;
  width: 46%;
}

.seven-promises>a>img{
  width: 100%;
}

@media(max-width: 1100px){
  .each-promise>img{
   width: 13%;
   margin-right: 4%;
  }

  .each-promise-inner h3{
    line-height: 1;
  }
  .promise-inner>img{
    width: 50%;
    margin: 5% 0 8%;
  }

  .seven-promises{
    width: 95%;
    margin: 0 auto;
    padding: 10% 5% 3.7% 4%;
  }

  .seven-promises::before {
  font-size:2.5rem;
  left: 33%;
  }
}

@media(max-width: 640px) {

  .declaration p{
   width: 95%;
   margin:0 auto;
  }

  .promise{
    padding-bottom: 10%;
  }

  .promise-inner{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10%;
  }

  .promise-inner>img{
    width: 50%;
    margin: 5% 0 10%;
  }

  .seven-promises{
    width: 95%;
    margin: 0 auto;
    padding: 10% 5% 3.7% 4%;
  }

  .seven-promises::before {
  font-size:2.5rem;
  left: 18%;
  top: -20px;
  }

  .each-promise{
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 9%;
  }

  .each-promise>img{
   width: 13%;
   margin-right: 4%;
  }

  .each-promise-inner h3{
    line-height: 1;
  }

  .seven-promises>a{
    width: 65%;
  }

}

/* ====================================================================

     blogs

=================================================================== */
.blogs{
 width: 85.3%;
 margin:0 auto;
 text-align: center;
}

.blogs img{
 margin-top:5%;
 width:13.8%;
}

.blogs h2{
  font-size:2.5rem;
  line-height: 1.5;
  color: #000000;
  letter-spacing: 0.06em;
}

.articles{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogs>a{
  display: inline-block;
  width: 13%;
  padding: 2% 0 6.1%;
}

.blogs>a>img{
  width: 100%;
}

@media(max-width: 640px) {
  .blogs{
   width: 85.3%;
   margin:0 auto;
   text-align: center;
  }

  .blogs img{
   margin-top:5%;
   width:26%;
  }

  .blogs h2{
    font-size:2.0rem;
  }

  .articles{
    display: block;
  }

  .blogs>a{
    width: 40%;
    padding: 2% 0 8%;
  }

}










/* ====================================================================

     tousaronnnnitsuite
     main-under

=================================================================== */
.main-under{
  position: relative;
  width: 100%;
}

.main-under img{
  width: 100%;
}

.main-under h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 3.125rem;
  letter-spacing: 0.06em;
  color: #000000;
}

@media(max-width: 640px){
  .main-under h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.2rem;
    letter-spacing: 0.06em;
    color: #000000;
  }
}


/* ====================================================================

     about

=================================================================== */
.about{
  background-image: url('../img/salon-about-back.jpg');
  background-repeat: repeat;
  background-size: cover;
}

.about-inner{
  width: 78.4%;
  margin:0 auto;
  padding:7.3% 0 5.7%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.about-inner .about-left img{
 width: 32%;
}

.about-inner .about-left h2{
  font-size:2.18rem;
  line-height: 1.14;
  /* font-weight: 500; */
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 5%;
}

.about-inner .about-left p{
  text-align: left;
  font-size:1.56rem;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.06em;
  color: #000000;
}

.about-inner>img{
 width: 31.5%;
 margin-left: 2%;
}

@media(max-width: 640px){

  .about-inner{
    width: 78.4%;
    margin:0 auto;
    padding:7.3% 0 5.7%;
    display: block;
  }

  .about-inner .about-left img{
   width: 50%;
  }

  .about-inner .about-left h2{
    font-size:2rem;
  }

  .about-inner>img{
   width: 50%;
   margin-left: 0;
   margin-top: 3%;
  }
}

/* ====================================================================

     access

=================================================================== */
.access{/*1080*/
  width: 79%;
  margin: 0 auto;
  text-align: center;
}

.access img{
  width:18%;
  padding-top:8.3%;
}

.access h2{
  margin-bottom: 3.5%;
  font-size:2.81rem;
  letter-spacing: 0.06em;
  color: #000000;
}

.access h3{
  text-align: left;
  margin:3.7% 0 2.7%;
  font-size:1.875rem;
  letter-spacing: 0.06em;
  color: #f05694;
}

.access p{
  text-align: left;
  padding-bottom: 8.9%;
  font-size:1.25rem;
  line-height: 2;
  color: #000000;
}

@media(max-width: 640px){

  .access img{
    width:30%;
  }

  .access h2{
    margin-bottom: 3.5%;
    font-size:2rem;
    letter-spacing: 0.06em;
    color: #000000;
  }

  .access h3{
    font-size:1.5rem;
  }

}

/* ====================================================================

     voice

=================================================================== */
.voice{
 text-align: center;
}

.voice img{
 width: 10.2%;
}

.voice h2{
  margin-bottom: 2.3%;
  font-size:2.81rem;
  color: #000000;
}

.voices{/*1080*/
  padding-bottom: 5%;
  width: 79%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.each-voice{/*525*/
  padding-bottom: 2%;
  margin-bottom: 2.7%;
  width: 48.6%;
  background-color: #eab1b1;
  border-radius: 30px;
}

.each-voice>p{
  font-size:1.06rem;
  letter-spacing: 0.06em;
  color: #000000;
  padding: 5.3% 0 4%;
}

.each-voice>p span{
  font-size:1.06rem;
  letter-spacing: 0.06em;
  color: #ff0000;
}

.voice-content{/*492*/
  width: 93.7%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 15px;
  min-height: 170px;
  text-align: left;
  position: relative;
}

.voice-content>p:first-of-type{
  padding:5.3% 0 0 4.1%;
  font-size:0.93rem;
  line-height: 1.466;
  letter-spacing: 0.06em;
  color: #000000;
}

.voice-content a{
  position: absolute;
  bottom: 4%;
  left: 3%;
  /* padding:0 0 20px 20px; */
}

.voice-content a img{
  width: 22px;
}

.voice-content a p{
  margin-left: 5px;
  display: inline-block;
  font-size:0.93rem;
  letter-spacing: 0.06em;
  color: #000000;
}


@media(max-width: 768px){

  .voice img{
   width: 18%;
  }

  .voice h2{
    font-size:2rem;
  }

  .voices{
    display: block;
  }

  .each-voice{
    width: 100%;
  }

}

/* ====================================================================

     greeting

=================================================================== */
.greeting{
 background-image: url('../img/salon-greeting-back.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 text-align: center;
}

.greeting>img{
 width: 16.6%;
 margin:0 auto;
 padding-top: 2.9%;
}

.greeting>h2{
  padding-bottom: 2.2%;
  font-size:2.81rem;
  letter-spacing: 0.06em;
  color: #000000;
}

.greeting-inner{
 text-align: left;
 background-color: #ffffff;
 width: 85.3%;
 margin:0 auto;
 border: 1px solid #F05694;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.greeting-inner img{/*456*/
 width: 39.1%;
 margin: 3.7% 2.8% 5.8% 3.5%;
}

.greeting-content p{
  padding-right: 6.7%;
  white-space: pre-wrap;
  font-size:1rem;
  line-height: 1.25;
  color: #000000;
}

.greeting-content p span{
  font-size:1.125rem;
  color: #F05694;
}

.greeting-content p b{
  font-size:1.06rem;
  color: #000000;
  padding: 2% 0;
}

.greeting>a{
  display: inline-block;
  padding: 2.5% 0 4.5%;
  width: 30.4%;
  margin: 0 auto;
}

.greeting>a>img{
  width: 100%;
}

@media(max-width: 640px){

  .greeting>img{
   width: 23%;
  }

  .greeting>h2{
    font-size:2rem;
  }

  .greeting-inner{
   display: block;
   text-align: center;
  }

  .greeting-inner img{/*456*/
   width: 50%;
   margin:4%;
  }

  .greeting-content p{
    text-align: left;
    padding:0 3%;
  }

  .greeting>a{
    padding: 7% 0;
    width: 50%;
  }
}










/* ================================================================

   flow

=================================================================== */
.flow{
  width: 79%;/*1080*/
  margin:0 auto;
}

.counseling h2,.oteire h2{
  font-family: "TBカリグラゴシック Std";
  font-size: 2.06rem;
  letter-spacing: 0.025em;
  color: #000000;
  border-left:15px solid #f05694;
  padding-left: 2px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 3%;
}

.counseling h2{
  margin-top: 5.8%;
}

.oteire h2{
  margin-top: 7.3%;
}

.counseling p,.oteire p{
  font-size: 1.125rem;
  line-height: 1.83;
  letter-spacing: 0.05em;
  color: #000000;
}

.each-counseling-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.each-counseling-inner img{
  width: 33.7%;
  margin-right: 4%;
}

.oteire{
  text-align: center;
}

.each-oteire{
  text-align: left;
  padding: 3%;
  border: 5px solid #eab1b1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.each-oteire img{
  width:33%;
}

.each-oteire-inner{
 margin-right: 5%;
}

.each-oteire-inner h3{
  font-size: 1.625rem;
  line-height: 0.92;
  letter-spacing: 0.05em;
  color: #000000;
  padding-bottom: 5px;
  border-bottom: 1px solid #f05694;
}

.flow-arrow{
  margin: 1% auto 2%;
  width: 4%;
  min-width: 30px;
}

.oteire>a{
  display: inline-block;
  width: 39%;
  padding: 5.9% 0 8%;
}

.oteire>a>img{
  width: 100%;
}


@media(max-width: 640px){

  .counseling h2,.oteire h2{
    font-size: 2rem;
    border-left:10px solid #f05694;
    padding-left: 5px;
  }

  .counseling h2{
    margin-top: 8%;
  }

  .oteire h2{
    margin-top: 10%;
  }

  .counseling p,.oteire p{
    text-align: left;
    margin: 3% auto;
  }

  .each-counseling-inner{
    display: block;
    text-align: center;
  }

  .each-counseling-inner img{
    width: 80%;
    margin-right: 0;
  }

  .oteire{
    text-align: center;
  }

  .each-oteire{
    padding: 7%;
    border: 3px solid #eab1b1;
    display: block;
    text-align: center;
  }

  .each-oteire img{
    width:80%;
  }

  .each-oteire-inner{
   margin-right: 5%;
  }

  .each-oteire-inner h3{
    padding-bottom: 8px;
  }

  .oteire>a{
    width: 65%;
  }

}













/* ================================================================

   otoiawase
   contact-page

=================================================================== */
.contact-inner{/*1168*/
  width: 85.5%;
  margin: 0 auto;
  text-align: center;
}

.contact-inner>img{
  width:17.8%;
  margin-top: 4%;
}

.contact-inner>h2{
  font-family: "TBカリグラゴシック Std";
  font-size: 2.5rem;
  letter-spacing: 0.06em;
  color: #000000;
}

.contact-inner>p{
  text-align: left;
  margin: 4%;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #000000;
}

.caution{
  text-align: left;
  padding: 2.5%;
  background-color: #ecceb2;
  border-radius: 30px;
}

.caution p{
  font-size: 1.125rem;
  padding-bottom: 1.5%;
  line-height: 1.666;
  letter-spacing: 0.06em;
  color: #000000;
}

.caution img{
  width: 24px;
  margin-right: 1%;
}

.phone-here{/*726*/
  width: 62.1%;
  margin:5% auto;
}

.phone-here>p{
  font-size: 1.875rem;
  font-weight: 600;
  font-family:　"TA-ことだまR";
  line-height: 2;
  letter-spacing: 0.06em;
  color: #000000;
}

.phone-here-inner{
  text-align:left;
  padding: 3% 0;
  border-top:3px solid #f05694;
  border-bottom:3px solid #f05694;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-here-left p{
  font-size: 1.875rem;
  font-weight: 600;
  font-family:　"TA-ことだまR";
  letter-spacing: 0.06em;
  color: #000000;
}

.phone-here-left a{
  display: inline-block;
  font-size: 2.5rem;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #f05694;
}

.phone-here-left a img{
  margin-right: 5px;
  vertical-align: middle;
}


.phone-here-right p:first-of-type{
  font-size:0.93rem;
  letter-spacing: 0.06em;
  color: #000000;
}

.phone-here-right p:nth-of-type(2){
  font-size:0.93rem;
  letter-spacing: 0.06em;
  color: #000000;
  margin:5% 0;
}

.phone-here-right p:last-of-type{
  font-size:0.93rem;
  color: #000000;
}

@media(max-width: 768px){

  .phone-here-inner{
    width: 100%;
  }

}

@media(max-width: 640px){

  .contact-inner>img{
    width:33.7%;
  }

  .contact-inner>h2{
    font-size: 2rem;
  }

  .contact-inner>p{
    line-height: 1.3;
  }

  .caution{
    padding: 5%;
  }

  .caution p{
    padding-bottom: 3%;
    line-height: 1.3;
  }

  .caution img{
    width: 15px;
  }

  .phone-here{/*726*/
    width: 100%;
  }

  .phone-here>p{
    font-size: 1.5rem;
  }

  .phone-here-inner{
    padding: 5% 0;
    display: block;
  }

  .phone-here-left p{
    font-size: 1.5rem;
  }

  .phone-here-left a{
    font-size: 2rem;
  }
}

/* ================================================================

   contact-form

=================================================================== */
.contact-form{
  background-color: #eab1b1;
}

.contact-form h2{
  text-align: center;
  font-size:2.18rem;
  letter-spacing: 0.06em;
  color: #000000;
  padding:6% 0 4%;
}

.contact-form form{/*1074*/
  width: 78.6%;
  margin: 0 auto;
  text-align: left;
}

.contact-form form p{
  font-size:1.25rem;
  letter-spacing: 0.06em;
  color: #000000;
}

input,select,textarea{
  font-size: 1.125rem;
  margin: 1.5% 0 4%;
  border: 1px solid #f05694;
  border-radius: 15px;
  background-color: #ffffff;
}

input,select{
  height: 50px;
}

input{
  width: 36.4%;
}

select{
  width: 42.6%;
}

textarea{
  overflow: scroll;
  width: 100%;
  height: 228px;
}

form a{
  display: block;
  margin: 0 auto;
  padding-bottom: 11%;
  width: 25.1%;
}

.button{
  width: 100%;
  height: 74px;
  font-size:2.18rem;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #f05694;
  border-radius: 40px;
}

@media(max-width: 768px){

  input{
    width: 60%;
  }

  select{
    width: 70%;
  }
}

@media(max-width: 640px){

  .contact-form h2{
    font-size:2rem;
    padding:8% 0 6%;
  }

  input,select,textarea{
    margin: 2.5% 0 8%;
  }

  input,select{
    height: 25px;
  }

  input{
    width: 80%;
  }

  select{
    width: 90%;
  }

  textarea{
    height: 100px;
  }

  form a{
    width: 40%;
  }

  .button{
    height: 50px;
    font-size:1.875rem;
    border-radius: 20px;
  }
}

/* ================================================================

   otoiawase-done
   otoiawase-confirm

=================================================================== */
.contact-done,.contact-confirm{
  width: 80%;
  margin: 8% auto;
  text-align: center;
}

.contact-done h2,.contact-confirm h2{
  text-align: left;
  font-size:2rem;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 3%;
}

.contact-done p,.contact-confirm p{
  text-align: left;
  font-size:1.5rem;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 5%;
}


.contact-done a,.contact-confirm a{
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  padding: 3%;
  font-size:2rem;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #F05694;
  border-radius: 30px;
}

.contact-confirm a:last-of-type{
  margin-top: 4%;
}

@media(max-width: 640px){
  .contact-done a{
    font-size:1.25rem;
    width: 80%;
  }
}







/* ================================================================

   q&a

=================================================================== */
.faq-to-contact{/*952*/
  width: 69.6%;
  margin: 6% auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2% 0;
  border-top: 3px solid #ecceb2;
  border-bottom: 3px solid #ecceb2;
}

.faq-to-contact>p{
  font-size:1.25rem;
  line-height: 1.65;
  letter-spacing: 0.06em;
  color: #000000;
  margin-right: 3%;
}

.faq-to-contact-inner a:first-of-type{
  display: inline-block;
  font-size: 2.5rem;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #f05694;
}

.faq-to-contact-inner a:first-of-type img{
  margin-right: 5px;
  vertical-align: middle;
}

.faq-to-contact-inner a:last-of-type{
  display: inline-block;
  width: 97%;
}

.faq-to-contact-inner a:last-of-type img{
  width: 100%;
}

.each-faq{
  border: 1px solid #f05694;
  width: 79%;
  margin:0 auto 5%;
}

.each-faq:last-of-type{
  margin-bottom: 8%;
}

.each-faq p:first-of-type{
  background-color: #eab1b1;
  font-size:1.375rem;
  padding: 2.5% 0 2.5% 3%;
  /* line-height: 1.81; */
  letter-spacing: 0.06em;
  color: #000000;
}

.each-faq p:last-of-type{
  font-size:1.125rem;
  line-height: 1.66;
  letter-spacing: 0.06em;
  color: #000000;
  padding: 2.8% 6% 5%;
}

@media(max-width: 640px){
  .faq-to-contact{
    display: block;
    padding: 4% 0;
  }

  .each-faq{
    margin:0 auto 8%;
  }

  .each-faq:last-of-type{
    margin-bottom: 12%;
  }

  .each-faq p:first-of-type{
    padding: 4% 0 4% 5%;
  }

  .each-faq p:last-of-type{
    line-height: 1.5;
    padding: 4% 8% 4%;
  }
}
